<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://mir-s3-cdn-cf.behance.net/projects/404/a38496180730845.Y3JvcCwxNDM1LDExMjIsMjQ1LDA.jpg" type="image/x-icon">
    <title>CURRENCY CONVERTER</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css1k">
    <link  type="text/css" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script async defer src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script async defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web.css') }}">
    
</head>
<body>
    <div id="nav">
<div id="navpart1">
</div>
    <div id="navpart2">
        <div id="links">
            <a href="{{ url_for('about_us') }}">KNOW OUR TEAM</a>
            <a href="{{ url_for('contact_us') }}">CONTACT US</a>
            <a href="{{ url_for('feedback') }}">FEEDBACK</a>
            <a href="{{ url_for('rate_us') }}">RATE US</a>
            <a href="{{ url_for('shopping')}}">SHOP <i class="ri-shopping-cart-fill"></i></a>
    </div>
    
 </div>
</div>

    <div id="cursor"></div>
    <div id="main">
        <div id="page1">
            <h1>CURRENCY </h1>
            <h1>CONVERTER</h1>
            <div id="video-container">
                <div id="play">
                    PLAY
                </div>  
                <video autoplay loop muted src="{{ url_for('static', filename='videos/NewFile.mp4') }}"></video>
            </div>
       
        </div>
        
        <div id="page2">
            <br>
            <div id="elem1" class="elem">
            <!-- <div class="insideelem1">AMERICAN DOLLAR</div> -->
            <img data-scroll data-scroll-speed="1" src="{{ url_for('static', filename='images/dollar1.jpg') }}" alt="">
            <div data-scroll data-scroll-speed="-1" class="dets" id="#e1">
                <span class="text-center">AMERICAN DOLLAR</span>
                <br>
                <span class="text-center">USD$</span>
            </div>
            
            </div>
            <div id="elem2" class="elem">
                <!-- <div class="insideelem1">INDIAN RUPEES</div> -->
                <img data-scroll data-scroll-speed="1" src="{{ url_for('static', filename='images/ruppee.jpg') }}" alt="">
            <div data-scroll data-scroll-speed="-1" class="dets">
                <span class="text-center">INDIAN RUPEES</span>
                <br>
                <span class="text-center">INR(rs.)</span>
            </div>
            </div>
            <div id="elem3" class="elem">
                <!-- <div class="insideelem1">CANADIAN DOLL AR</div> -->
                <img data-scroll data-scroll-speed="1" src="{{ url_for('static', filename='images/canada.jpg') }}" alt="">
            <div data-scroll data-scroll-speed="-1" class="dets">
                <span class="text-center">CANADIAN DOLLAR</span> 
                <br>  
                <span class="text-center">CAD$</span>  
            </div>
            </div>
        </div>
    

    <section class="asf">

    <font size="+4"><h1 class="animate__animated animate___bounce" id="maintitle" style="text-align:center;">CURRENCY CONVERTER</h1></font>
          
   <hr>
   <br>
   <br>

    
   <form id="currencyForm" style="text-align:center;" method="post">

        <FIELDSET class="field_set">
        
         <legend style="text-align:center;"><b>CALCULATE HERE</b></legend>
         <br>
         <label for="amount" class=".headingofenterofamount">Enter your amount:</label>
         <input type="text" id="amount" placeholder="0">
<br>

        <label for="from" >CONVERT FROM:</label>
        <select name="CONVERT FROM" id="selector">
                     <option value="USD">USD</option>
                     
                     <option value="AUD">AUD</option>
                     <option value="BGN">BGN</option>
                     <option value="BRL">BRL</option>
                     
                     <option value="CAD">CAD</option>
                     <option value="CHF">CHF</option>
                     
                     <option value="CNY">CNY</option>
                     
                     <option value="CZK">CZK</option>
                     <option value="DKK">DKK</option>
                     
                     
                     <option value="EUR">EUR</option>
                     
                     <option value="GBP">GBP</option>
                     
                     <option value="HKD">HKD</option>
                     
                     <option value="HUF">HUF</option>
                     <option value="IDR">IDR</option>
                     
                     <option value="INR">INR</option>
                     <option value="ISK">ISK</option>
                     <option value="JPY">JPY</option>
                     <option value="KRW">KRW</option>
                     
                     
                     <option value="MXN">MXN</option>
                     <option value="MYR">MYR</option>
                     <option value="NOK">NOK</option>
                     <option value="NZD">NZD</option>
                     
                     
                     <option value="PHP">PHP</option>
                     
                     <option value="PLN">PLN</option>
                     
                     <option value="RON">RON</option>
                     
                     <option value="SAR">SAR</option>
                     <option value="SEK">SEK</option>
                     <option value="SGD">SGD</option>
                     <option value="THB">THB</option>
                     <option value="TRY">TRY</option>
                     
                     
                     
                     <option value="ZAR">ZAR</option>
                     </select>
                     &emsp;
<label for="to">CONVERT TO:</label>
              <select name="CONVERT TO" id="selector1">
                     <option value="USD">USD</option>
                     
                     <option value="AUD">AUD</option>
                     <option value="BGN">BGN</option>
                     <option value="BRL">BRL</option>
                     
                     <option value="CAD">CAD</option>
                     <option value="CHF">CHF</option>
                     
                     <option value="CNY">CNY</option>
                     
                     <option value="CZK">CZK</option>
                     <option value="DKK">DKK</option>
                     
                     
                     <option value="EUR">EUR</option>
                     
                     <option value="GBP">GBP</option>
                     
                     <option value="HKD">HKD</option>
                     
                     <option value="HUF">HUF</option>
                     <option value="IDR">IDR</option>
                     
                     <option value="INR">INR</option>
                     <option value="ISK">ISK</option>
                     <option value="JPY">JPY</option>
                     <option value="KRW">KRW</option>
                     
                     
                     <option value="MXN">MXN</option>
                     <option value="MYR">MYR</option>
                     <option value="NOK">NOK</option>
                     <option value="NZD">NZD</option>
                     
                     
                     <option value="PHP">PHP</option>
                     
                     <option value="PLN">PLN</option>
                     
                     <option value="RON">RON</option>
                     
                     <option value="SAR">SAR</option>
                     <option value="SEK">SEK</option>
                     <option value="SGD">SGD</option>
                     <option value="THB">THB</option>
                     <option value="TRY">TRY</option>
                     
                     
                     
                     <option value="ZAR">ZAR</option>
                     </select>

<br>

                     <button type="submit" class="cvt">
                         CONVERT
                     </button>
&emsp;
<button type="submit">
RESET
</button>

<br>
<br>
<br>
<br>

<div id="finalAmount" class="text-center">

<h2>Converted Amount :
 <span class="finalValue" style="color:green;">
 </span>
</h2>
</div>
</FIELDSET>
<br>
<br>
<br>
<br>



</form>

<script async defer>
    $('#currencyForm').submit(function(e) {
        e.preventDefault(); // Prevent default form submission

        var amount = $('#amount').val();
        var fromCurrency = $('#selector').val();
        var toCurrency = $('#selector1').val();

        $.ajax({
            type: 'POST',
            url: '/convert',
            data: {
                amount: amount,
                from_currency: fromCurrency,
                to_currency: toCurrency
            },
            success: function(response) {
                console.log(response); // Log the response data to inspect

                if (response.success) {
                    $('.finalValue').text(response.converted_amount.toFixed(2));
                } else {
                    $('.finalValue').text('Error converting currency.');
                }
            },
            error: function() {
                $('.finalValue').text('An error occurred while processing the request.');
            }
        });
    });
</script>


</section>

</div>  

</body>
</html>